<div>
    <%= link_to root_path do %>
    <i class="fa fa-arrow-left"></i>Retour
    <% end %>
  </div>
<div class="sidebar-info">
  <%= image_tag @user.picture, class: "img-circle" %>
  <div class="sidebar-name">
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <p>
      <i class="fa fa-mail"></i> <%= @user.email %>
    </p>
  </div>
</div>

<%= link_to edit_user_registration_path, class: "btn btn-xs btn-warning edit-btn" do %>
  <i class="fa fa-pencil"></i> Edit my profil
<% end %>

<div class="box">
  <div class="box__header">
    <h3 class="box__header-title text-center">Mes stats</h3>
  </div>
  <div class="box__body">
    <div class="stats stats--main">
      <div class="stats__amount">950</div>
      <div class="stats__caption">Mots à mémoriser</div>
    </div>


    <div class="stats">
      <div class="stats__amount">15</div>
      <div class="stats__caption">Mots à apprendre</div>
      <div class="stats__change">
      </div>

    </div>

    <div class="stats">
      <div class="stats__amount">0</div>
      <div class="stats__caption">Mots appris</div>
      <div class="stats__change">
      </div>
    </div>

     <div class="stats">
      <div class="stats__caption">Vous pouvez comprendre</div>
      <div class="stats__amount">0 %</div>
      <div class="stats__caption">du contenu</div>
      <div class="stats__change">
      </div>
    </div>


  </div>
  <button type="button" class="btn btn-danger">Réviser mon vocabulaire</button>
</div>
