<div class="container">
 <div class="row">
   <div class="text-center">
   <h2> Recapitulatif de paiement </h2>
   </div>
   <div class = "Card-Payment">
     <div class = "text-center">

         <h3>Achat du cours </h3> <p><span class="bracket">"</span><%= @subscription.course.name %><span class="bracket">"</span></p>
         <br>
         <%= form_tag course_subscription_payments_path(@course, @subscription) do %>
           <article>
           <label>Montant: <%= humanized_money_with_symbol(@subscription.amount) %></label>
           </article>
           <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
             data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
             data-name="My Course"
             data-description="Course <%= @subscription.course.name %>"
             data-amount="<%= @subscription.amount_cents %>"
             data-currency="EUR"></script>
         <% end %>
     </div>
   </div>
 </div>
</div>
