<div class="container">
  <div class="row">
    <div class =""

    <h3 class = "text-center">Purchase of course <%= @subscription.course.name %></h3>
    <%= form_tag course_subscription_payments_path(@course, @subscription) do %>
      <article>
        <label class="amount">
          <span>Amount: <%= humanized_money_with_symbol(@subscription.amount) %></span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="My Course"
        data-description="Course <%= @subscription.course.name %>"
        data-amount="<%= @subscription.amount_cents %>"
        data-currency="EUR"></script>

    <% end %>
  </div>
</div>
