
<div class="banner-course text-center" style="background-image: url('<%=@course.image%>')">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1><%= @course.name %></h1>
    <p>Ici une petite description du cours (manque cette colone en DB)</p>

    <% if policy(@subscription).create? %>
      <%= form_tag course_subscriptions_path(@course) do %>
        <%= submit_tag "Je commence maintenant", class: "btn btn-primary btn-lg" %>
      <% end %>
    <% else %>
      <%= link_to "Accéder au cours", profile_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <iframe src="//fast.wistia.net/embed/iframe/arjygrydcn" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="560"></iframe>
      <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 benefits-section">
      <div class="col-xs-6">
        <h4>Ce que vous achetez</h4>
          <ul class="omh">
            <li>+6 heures de cours en vidéo</li>
            <li>Une application mobile dédiée</li>
            <li>Apprenez à votre rythme</li>
            <li>Un certificat de réussite</li>
          </ul>
      </div>
      <div class="col-xs-6">
        <h4>Ce que vous apprendrez :</h4>
        <ul class="omh">
          <li>Mémorisez plus de 650 mots et expressions</li>
          <li>Des progrès mesurables chaque semaine</li>
          <li>Des profs experts reconnus</li>
          <li>Des profs experts reconnus</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="enrollment-bar-section">
  <div class="container">
    <div class="block-center">
      <div class="enrollment-bar-omega">
      <a class="btn btn-hg btn-enroll background-secondary btn-block" href="#">Je commence maintenant !</a>
      </div>
    </div>
  </div>
</div>

<!-- Review -->
<div class="container">
  <div class="row">
    <div class = "col-md-4 col-offset-4">
      <h2><%= pluralize @course.reviews.size, "review" %></h2>
      <div id="reviews">
        <% if @course.reviews.blank? %>
        Be the first to leave a review for <%= @course.name %>
        <% else %>
        <% @course.reviews.each do |review| %>
        <%= render 'reviews/show', review: review %>
        <% end %>
        <% end %>
        <!-- TODO display only if user connected AND user payed that course -->
        <%= render 'reviews/new', course: @course, review: @review if current_user %>
      </div>
    </div>
  </div>
</div>
<!-- Review -->

<script src="http://fast.wistia.net/static/E-v1.js"></script>
<script>
  wistiaEmbed = Wistia.embed("<%= @course.video_teaser %>", {
    videoQuality: "hd-only",
    videoFoam: true
  });

  function setPlaySpeed(speed) {
    wistiaEmbed.playbackRate(speed);
  }
</script>


