<%= simple_form_for([course, review]) do |f| %>
  <%= f.input :comment %>
  <%= f.input :star %>
  <%= f.hidden_field :course_id, :value => course.id %>
  <div class="actions">
    <%= f.submit "Laisser un avis", class: "btn btn-primary" %>
  </div>
<% end %>
