<div class="container-fluid">
  <% @courses.each do |course| %>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card-wrapper">
          <div class="card">
            <span class="card-bg" style="background-image: url('<%=course.image%>')"></span>
            <span class="card-gradient"></span>
            <div class="label label-info price">
              <span class="glyphicon glyphicon-tag"></span>
            </div>
            <div class="label label-info time">
              <i class="fa fa-clock-o"></i><span></span> Voir le cours</span>
            </div>
            <span class="card-category"><%= course.name %></span>
          </div>
          <div class="block">
            <span><p class="block-description">ici il y aura une petite descripton</p></span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <h2><%= pluralize course.reviews.size, "review" %></h2>
        <div id="reviews">
          <% if course.reviews.blank? %>
          Be the first to leave a review for <%= course.name %>
          <% else %>
            <% course.reviews.each do |review| %>
              <%= render 'reviews/show', review: review, course: course %>
            <% end %>
          <% end %>
          <!-- TODO display only if user connected AND user payed that course -->
          <%= render 'reviews/new', course: course, review: @review if current_user %>
        </div>
      </div>
    </div>
  <% end %>
</div>




