<div class="container-fluid">
  <% @courses.each do |course| %>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card-wrapper">
          <div class="card">
            <span class="card-bg" style="background-image: url('<%=course.image%>')"></span>
            <span class="card-gradient"></span>
            <div class="label label-info time">
              <i class="fa fa-clock-o"></i><span>Durée: <%=course.duration%> jours</span>
            </div>
            <span class="card-category"><%= course.name %></span>
          </div>
            <%= link_to 'Reprendre mon cours', course_lessons_path(course), class: 'btn btn-danger btn-lg btn-block' %>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <h4>Vous avez laissé <%= pluralize course.reviews.size, "avis pour ce cours" %></h4>
        <div id="reviews">
          <% if course.reviews.blank? %>
          Dites-nous ce que vous pensez de ce cours
          <% else %>
            <% course.reviews.each do |review| %>
              <%= render 'reviews/show', review: review, course: course %>
            <% end %>
          <% end %>
          <!-- TODO display only if user connected AND user payed that course -->
          <%= render 'reviews/new', course: course, review: @review if current_user %>
        </div>
      </div>
    </div>
  <% end %>
</div>
 <%= render 'star' %>




